
/* Your CSS Code here. */
.holder{
	display:flex;
	
	flex-direction:row wrap;
	justify-content:center;
	font-size:x-large
	
	
}
.item{
	font-weight:bold;
	padding:10px;
	width:100px;
	height:100px;
	
}
.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
	
}